

.footer {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    margin-top: 1rem;

}

.footer p {
    color: white;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    text-align: center;
}