@media  screen and (max-width: 768px) {
    .cardContent {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }    
}

.likesComments {
    cursor: pointer;
    background-color: #0bade3;
    color: white;
    font-size: 2rem;
    text-align: center;
    border-radius: 8px;

}